.main {
	min-height: 800px;
}

body {
	font-size: 16px;
}

#item-head .sidebar,
#item-head .content {
	height: 255px;
	background-color: #11100E;
}

#item .sidebar {
	background-color: #11100E;
}

.item-icon,
.content-head {
	height: 177px;
	background-color: #1A1917;
}

#item .sidebar,
#item .content {
	min-height: 400px;
}

.content {
	background-color: #24231F;
	border-left: 1px dashed #555;
	box-shadow: -10px 0 15px -3px #111;
}

.content .content-cont {
	padding: 10px 30px;
	font-family: 'Kreon', arial, serif;
}

.content-head h1,
.content h2 { 
	font-family: 'Metrophobic', arial, serif;
	color: white;
	font-size: 125%;
}

.item-icon {
	text-align: center;
}

.item-icon img {
	border: 1px solid black;
	box-shadow: 0 0 2px 2px #111;
	border-radius: 1.5em;
}

.place {
	min-height: 40px;
}

.item-ext-info {
	padding: 2px 26px;
	text-align: right;
}

.item-ext-info ul li {
	display: inline;
	color: #aeaeae;
	font-size: 74%;
	font-weight: bold;
	font-family: 'Shanti', arial, serif;
	padding-left: 16px;
	margin-left: 20px;
}

.item-ext-info ul {
	list-style-type: none;
}

.item-info {
	background-color: #1a1917;
	min-height: 30px;
	text-align: center;
	font-size: 125%;
	font-family: 'Francois One', arial, serif; 
	font-weight: bold;
	color: white;
	padding: 6px 3px;
}

/* bg images */
.content,
.content-head {
	background-image: url('imgs/bg_2.png');
	background-position: top left;
	background-repeat: repeat;
}

#item .content {
	border-top: 1px dashed #555;
}

#item .sidebar {
	border-top: 1px solid transparent;
}

/* padding */
#item-head .content-head .content-block,
#item .content .content-block{
	padding: 2em 3em;
}

.content-head h1,
#item .content h2{
 margin-bottom: 1.4em;
} 

/*font-colors */
.content-head{
	color: white;
}

.content .content-head div,
.content p{
	color: #adac96;
}

